<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Information</title>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">




</head>
<body onload="loadLoader()" >

	<div id="preloader"></div>



<form method="post" class="post-form" action="/update/{{ employee.id }}">
    {% csrf_token %}
    <p class="h4">Update Employee Information</p><br>
    <table border="2px solid" class="table" style="width: 80%;margin-left: 10%;">
        <tr>
            <th>Employee Id</th>
            <td>
                <input type="text" name="eid" id="id_eid" required  value="{{ employee.eid }}" style="width: 100%;"/>
            </td>
        </tr>

         <tr>
            <th>Employee Name</th>
            <td>
                <input type="text" name="ename" id="id_ename" required value="{{ employee.ename }}" style="width: 100%;"/>
            </td>
        </tr>

         <tr>
            <th>Employee Email</th>
            <td>
                <input type="email" name="eemail" id="id_eemail" required value="{{ employee.eemail }}" style="width: 100%;"/>
            </td>
        </tr>


         <tr>
            <th>Employee Contact</th>
            <td>
                <input type="text" name="econtact" id="id_econtact" required value="{{ employee.econtact }}" style="width: 100%;"/>
            </td>
        </tr>

        <tr>
            <td colspan="2"><button type="submit" class="btn btn-primary" style="width: 100%;">Update</button></td>
        </tr>
    </table>
</form>
</body>
</html>